

@media screen and (min-width: 300px) {
  .contact_info{
    font-size: 18px;
  }
}

@media screen and (min-width: 650px) {
   .contact_info{
    font-size: 26px;
  }   

}
@media screen and (min-width: 850px) {
     .contact_info{
    font-size: 28px;
  }
   
}
